html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    line-height: 1.5;
}

#top{
    height: 10px;
}

/* Navigation */

nav{   
    width: 80%;
    margin-left: 20%;
    position: relative;
    left: 50px;
    top: 25px;
}

header{
    margin: 0 auto;
    height: 75px;
    width: 100vw;
    background-color: rgba(44, 44, 46, 1);
    position: fixed;
    top: 0px;
    z-index: 2;
}
header img{
    float: left;
    width: auto;
    margin: 0 auto;
    height: 75px;
}

header li{

    margin-right: 25px;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    bottom: 18px;
    color: white;
    position: relative;
    box-sizing: border-box;
}

header ul{

}

header a:link{
    text-decoration: none;
    color: white;
}

header ul li a:hover{
    color: rgba(239, 197, 7, 1);
}

header a:visited{
    color: white;
}

#link2{
    height: 76px;
    width: 100%;
    margin: 0;
}
#link3{
    height: 76px;
    width: 100%;
    margin: 0;
}

@media only screen and (max-width: 1080px){
    nav{   
        width: 100%;
        position: relative;
        left: 50px;
        top: 0px;
    }
    header li{
        width: 170px;
        margin-bottom: 10px;
        margin-right: 25px;
        font-size: 25px;
        font-weight: bold;
        display: inline-block;
        font-size: auto;
        color: white;
        position: relative;
        box-sizing: border-box;
    }
}

/* The Problem */

#sleepInClass{
    background-attachment: fixed;
    background-image: url("../Content/sleep.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
    z-index: 1;


}

#sleepInClassContent{
    position: relative;
    top: 550px;
}



#slogan {
    margin: 0 auto;
    width: 100%;
    background-color: rgba(44, 44, 46, 0.93);

}

#sleepInClass h1{
    margin: 0 auto;
    width: 80%;
    height: auto;
    text-align: center;
    position: relative;
    color: white;
    box-sizing: border-box;
    padding: 40px 0px;
    font-size: 30px;
    box-sizing: border-box;
}

#sleepInClass h2{
    font-size: 45px;
    margin: 0;
    color: white;
    position: relative;
    height: 75px;
    padding: 25px 0px;
    text-align: center;
    background-color: rgba(239, 197, 7, 1);
    padding: 11px 0px;
    box-sizing: border-box;
}

#theProblem{
    height: auto;   
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:rgba(44, 44, 46, 1);
    color: white;
    box-sizing: border-box;
}

#theProblem p{
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}

/* Our Product */

#sleepOnMetro{
    background-attachment: fixed;
    background-image: url("../Content/sleepOnMetro.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2250px;
    z-index: -1;
    position: relative;
    width: 100%; 
}

#sleepOnMetroContent{
    position: relative;
    top: 1100px;
}

#sleepOnMetro h2{
    font-size: 45px;
    margin: 0;
    color: white;
    position: relative;
    height: 75px;
    padding: 25px 0px;
    text-align: center;
    background-color: rgba(239, 197, 7, 1);
    padding: 11px 0px;
    box-sizing: border-box;
}

#ourProduct{
    height: auto; 
    padding-bottom: 30px;
    background-color:rgba(44, 44, 46, 1);
    color: white;
    box-sizing: border-box;
}

#ourProduct p{
    padding-top: 30px;
    padding-left: 7vw;
    font-size: 18px;
    width: 65%;
    box-sizing: border-box;
    display: inline-block;
}

#ourProductImage{
    width: 35%;
    float: right; 
    height: auto;
}

#ourProductImage img{
    padding: 10vh 0vh 0vh 5vw;
    width: auto;
    max-height: 280px;
}

@media only screen and (max-width: 960px){
    #ourProduct p{
        padding-top: 30px;
        padding-left: 0;
        font-size: 18px;
        margin: 0 auto;
        width: 80%;
        box-sizing: border-box;
        display: block;
    }
    #ourProductImage{
        width: 100vw;
        float: none; 
        height: auto;
    }
    
    #ourProductImage img{
        margin: 0 auto;
        padding: 5vh 0vh 0vh 0vw;
        width: auto;
        max-height: 280px;
    }

}

/* Application */

#awakeOnMetro{
    background-attachment: fixed;
    background-image: url("../Content/awakeOnMetroMedKlokke.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1850px;
    z-index: -1;
    position: relative;
    width: 100%; 
    top: 850px;
}

#awakeOnMetroContent{
    position: relative;
    top: 800px;
}

#awakeOnMetro h2{
    font-size: 45px;
    margin: 0;
    color: white;
    position: relative;
    height: 75px;
    padding: 25px 0px;
    text-align: center;
    background-color: rgba(239, 197, 7, 1);
    padding: 11px 0px;
    box-sizing: border-box;
}

#application{
    height: auto;   
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:rgba(44, 44, 46, 1);
    color: white;
    box-sizing: border-box; 
}

.appText{
    font-size: 18px;
    width: 50vw;
    float: right;
    margin-top: 20px;
    margin-right: 17vw;
}

.appText h3{
    color:  rgba(239, 197, 7, 1); 
    font-size: 25px;
}

#application img{
    margin-left: 10vw;
    margin-top: 30px;
    height: 400px;
}
@media only screen and (max-width: 970px){
 
    .appText h3{
        text-align: center;
    }

    .appText{
      float: none;
      margin: 0 auto;
      width: 80vw;
    }
    
    #application img{
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 50px;
    
    }
}    

/* Theories */

#theories{
    height: auto;   
    padding-top: 50px;
    padding-bottom: 30px;
    background-color:rgba(44, 44, 46, 1);
    color: white;
    box-sizing: border-box;
}

#theories p{
    padding-top: 30px;
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}

#theories h2{
    font-size: 45px;
    margin: 0;
    color: white;
    position: relative;
    height: 75px;
    padding: 25px 0px;
    text-align: center;
    background-color: rgba(239, 197, 7, 1);
    padding: 11px 0px;
    box-sizing: border-box;
}

@media only screen and (max-width: 970px){
    #theories{
        padding-top: 0px;
    }
}

