html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html p{
    line-height: 1.5;
}

#top{
    height: 10px;
}

/* Navigation */

nav{   
    float: right;
    width: 75%;
    position: absolute;
    left: 50vh;
    top: 2.5vh;
}

header{
    margin: 0 auto;
    height: 12vh;
    width: 100vw;
    background-color: rgba(44, 44, 46, 1);
    position: fixed;
    top: 0px;
    z-index: 2;
}
header img{
    float: left;
    width: auto;
    margin: 0 auto;
    height: 12vh;
}

header li{
    margin-left: 25px;
    font-size: 4vh;
    bottom: 0vh;
    font-weight: bold;
    display: inline-block;
    color: white;
    position: relative;
    box-sizing: border-box;
}

header a:link{
    text-decoration: none;
    color: white;
}

header ul li a:hover{
    color: rgba(239, 197, 7, 1);
}

header a:visited{
    color: white;
}

/*Hamburger menu*/
.bar {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 10px;
}

.menubar {
    display: block;
    float: right;
    position: relative;
    right: 30px;
    margin: 30px;
    width: 45px;
    height: 50px;
    background-color: inherit;
    cursor: pointer;
}
/* Navigation links */



#link2{
    height: 12vh;
    width: 100%;
    margin: 0;
}
#link3{
    height: 12vh;
    width: 100%;
    margin: 0;
}



/* The Problem */

#sleepInClass{
    background-attachment: fixed;
    background-image: url("../Content/sleep.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    width: 100%;
    z-index: 1;


}

#sleepInClassContent{
    position: relative;
    top: 84vh;
}



#slogan {
    margin: 0 auto;
    height: auto;
    min-height: 15vh;
    width: 100%;
    background-color: rgba(44, 44, 46, 0.93);
    z-index: 1;
    position:relative;
    top: 0px;

}

#link1{
    height: 12vh;
    width: 100%;
    margin: 0;
    z-index: 0;
    position: absolute;
    top: 4vh;
}

#sleepInClass h1{
    margin: 0 auto;
    width: 80%;
    height: auto;
    text-align: center;
    position: relative;
    color: white;
    box-sizing: border-box; 
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-size: 5vh;
    box-sizing: border-box;
}

#sleepInClass h2{
    font-size: 6vh;
    margin: 0;
    color: white;
    position: relative;
    height: 12vh;
    text-align: center;
    background-color: rgba(239, 197, 7, 1);
    padding-top: 2.5vh;
    padding-bottom: 3.5vh;
    box-sizing: border-box;
}

#theProblem{
    height: auto;   
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:rgba(44, 44, 46, 1);
    color: white;
    box-sizing: border-box;
}

#theProblem p{
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}

/* Our Product */

#sleepOnMetro{
    background-attachment: fixed;
    background-image: url("../Content/sleepOnMetro.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200vh;
    z-index: -1;
    position: relative;
    width: 100%; 
}

#sleepOnMetroContent{
    position: relative;
    top: 160vh;
}

#sleepOnMetro h2{
    font-size: 6vh;
    margin: 0;
    color: white;
    position: relative;
    height: 12vh;
    text-align: center;
    background-color: rgba(239, 197, 7, 1);
    padding-top: 2.5vh;
    padding-bottom: 3.5vh;
    box-sizing: border-box;
}

#ourProduct{
    height: auto; 
    padding-bottom: 30px;
    background-color:rgba(44, 44, 46, 1);
    color: white;
    box-sizing: border-box;
}

#ourProduct p{
    padding-top: 30px;
    padding-left: 7vw;
    font-size: 18px;
    width: 70%;
    box-sizing: border-box;
    display: inline-block;
}

#ourProductImage{
    width: 30%;
    float: right; 
    height: auto;
}

#ourProductImage img{
    margin-left: 20%;
    margin-top: 5%;
    width: auto;
    min-height: 250px;
    height: 25vh;
}

@media only screen and (max-width: 1480px){
    #ourProductImage img{
        margin-left: 15%;
        margin-top: 15%;
        width: auto;
        min-height: 250px;
        height: 25vh;
    }
}

@media only screen and (max-width: 960px){
    #ourProduct p{
        padding-top: 30px;
        padding-left: 0;
        font-size: 18px;
        margin: 0 auto;
        width: 80%;
        box-sizing: border-box;
        display: block;
    }
    #ourProductImage{
        width: 100%;
        float: none; 
        margin: 0 auto;
        height: auto;
    }
    
    #ourProductImage img{
        margin-left: 10vw;
        margin-top: 5%;

    }

}

/* Application */

#awakeOnMetro{
    background-attachment: fixed;
    background-image: url("../Content/awakeOnMetroMedKlokke.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1850px;
    z-index: -1;
    position: relative;
    width: 100%; 
    top: 130vh;
}

#awakeOnMetroContent{
    position: relative;
    top: 110vh;
}

#awakeOnMetro h2{
    font-size: 6vh;
    margin: 0;
    color: white;
    position: relative;
    height: 12vh;
    text-align: center;
    background-color: rgba(239, 197, 7, 1);
    padding-top: 2.5vh;
    padding-bottom: 3.5vh;
    box-sizing: border-box;
}

#application{
    height: auto;   
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:rgba(44, 44, 46, 1);
    color: white;
    box-sizing: border-box; 
}

#application p{
    font-size: 18px;
}

.appText{
    font-size: 18px;
    width: 50vw;
    float: right;
    margin-top: 10px;
    margin-right: 19vw;
}

.appText h3{
    color:  rgba(239, 197, 7, 1); 
    font-size: 30px;
}

#application img{
    margin-left: 10vw;
    margin-top: 30px;
    height: 50vh;
    min-height: 300px;
}
@media only screen and (max-width: 970px){
 
    .appText h3{
        text-align: center;
    }

    .appText{
    margin-top: 30px;
      float: none;
      margin: 0 auto;
      width: 80vw;
    }
    
    #application img{
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 50px;
    
    }
}    

/* Theories */

#theories{
    height: auto;   
    padding-top: 50px;
    padding-bottom: 30px;
    background-color:rgba(44, 44, 46, 1);
    color: white;
    box-sizing: border-box;
}

#theories p{
    padding-top: 30px;
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}

#theories h2{
    font-size: 6vh;
    margin: 0;
    color: white;
    position: relative;
    height: 12vh;
    text-align: center;
    background-color: rgba(239, 197, 7, 1);
    padding-top: 2.5vh;
    padding-bottom: 3.5vh;
    box-sizing: border-box;
}

@media only screen and (max-width: 970px){
    #theories{
        padding-top: 0px;
    }
}

/* Endrer Bakgrunnsbildene */
@media only screen and (max-width: 650px){
    #sleepInClass{
        background-position: top;
        background-image: url("../Content/sleepInClassSmall.jpg");
    }
    }

@media only screen and (max-width: 650px){
    #sleepOnMetro{
        background-image: url("../Content/sleepOnMetroSmall.jpg");
    }
    }

@media only screen and (max-width: 600px){
#awakeOnMetro{
    background-image: url("../Content/awakeOnMetroSmall.jpg");
}
}




/* Endrer navbar basert på skjermhøyde */
@media only screen and (max-height: 700px){
    nav{
        top: 2vh;
    }
    }
@media only screen and (max-height: 500px){
nav{
    top: 1vh;
}
}
@media only screen and (max-height: 400px){
    nav{
        top: 0vh;
    }

}
@media only screen and (max-height: 350px){
    nav{
        top: -1vh;
        left: 40vh;
        width: 76%;
    }

}
@media only screen and (max-height: 300px){
    nav{
        top: -3vh;
        left: 35vh;
        width: 78%;
    }

}
@media only screen and (max-height: 250px){
    nav{
        top: -5vh;
        left: 30vh;
        width: 80%;
    }

}
@media only screen and (max-height: 200px){
    nav{
        top: -8vh;
    }

}